body{
    background-color: rgb(219, 196, 196);
}

#nav{
    text-align: center;
    font-family: sans-serif; 
    background-color: white;
    border: black 3px solid;
}
#container{
    height: auto;
    width: 540px;
    background-color: rgba(46, 13, 13, 0.425);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly ; 
    margin: 0 auto;
}

#generate-sudoku{
    margin:auto;
    display:block;
    background-color: crimson;
    color: whitesmoke;
}

#solve{
    margin:auto;
    display:block;;
}

#container div{
    background-color: white;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 60px; 
    font-size: 30px; 
    color: green;
    
}

#container div:hover{
    background-color: lightskyblue;
}

.lsb{
    border-left: black 2px solid;
}

.bsb{
    border-bottom: black 2px solid;
}

.rsb{
    border-right: black 2px solid;
}

.tsb{
    border-top: black 2px solid;
}


.ldb{
    border-left: rgb(10,11,83) 1.2px dashed;
}


.tdb{
    border-top: rgb(10, 11, 83) 1.2px dashed;
}